{{#each blocks}}
  <div style="margin-bottom: 10px" data-test-id="block-item-wrapper">
    {{#equals type 'text'}}
      <div style="
        text-align: {{#if styles.textAlign}}{{styles.textAlign}}{{else}}left{{/if}};
        ">
        <div>
          <p>
            {{{content}}}
          </p>
        </div>
      </div>
    {{/equals}}
    {{#equals type 'button'}}
      <div>
        <div
          style="
                                                      font-family: inherit;
                                                      text-align: center;
                                                    "
        >
          <a style="
            line-height: 30px;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            border: 1px solid transparent;
            height: 32px;
            padding: 4px 15px;
            font-size: 14px;
            border-radius: 4px;
            color: white;
            background: {{#if ../branding.color}}{{../branding.color}}{{else}}#ff6f61{{/if}};
            border-color: {{#if ../branding.color}}{{../branding.color}}{{else}}#ff6f61{{/if}};
            text-decoration: none;
            "
             href="{{{url}}}"
             target="_blank">
            {{{content}}}
          </a>
        </div>
      </div>
    {{/equals}}
  </div>
{{/each}}
